{% block _note_items_row %}
  <div class="row">
    <div class="col-xs-12">
      {{ form_widget(form) }}

      <button type="button" class="new-note-btn-create btn btn-success btn-lg btn-block">Добавить</button>

      <div class="new-note-items">

        {% for item in form.vars.value|json_decode %}
          <div class="item row">
            <div class="col-xs-3">
              <input class="form-control" placeholder="имя" value="{{ item.name }}" name="note[items][{{ loop.index0 }}][name]" type="text"/>
            </div>
            <div class="col-xs-3">
              <input class="form-control" placeholder="сумма" value="{{ item.value }}" name="note[items][{{ loop.index0 }}][value]" type="text"/>
            </div>
            <div class="col-xs-3">
              <input class="form-control date" placeholder="дата" value="{{ item.date }}" name="note[items][{{ loop.index0 }}][date]" type="text"/>
            </div>
            <div class="col-xs-3">
              <button type="button" class="new-note-btn-remove-item btn btn-danger btn-sm btn-block">удалить</button>
            </div>
          </div>
        {% endfor %}

        <div class="template">
          {% spaceless %}
            <div class="item row">
              <div class="col-xs-3">
                <input class="form-control" placeholder="имя" name="note[items][__index__][name]" type="text"/>
              </div>
              <div class="col-xs-3">
                <input class="form-control" placeholder="сумма" name="note[items][__index__][value]" type="text"/>
              </div>
              <div class="col-xs-3">
                <input class="form-control date" placeholder="дата" name="note[items][__index__][date]" type="text"/>
              </div>
              <div class="col-xs-3">
                <button type="button" class="new-note-btn-remove-item btn btn-danger btn-sm btn-block">удалить</button>
              </div>
            </div>
          {% endspaceless %}
        </div>
      </div>
    </div>
  </div>
{% endblock _note_items_row %}