<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
      <style>
        .container {
          max-width: 700px;
        }

        body {
          padding: 20px 0;
        }

        .nav {
          margin-bottom: 20px;
        }

        .new-note-items .item {
          margin: 10px 0;
        }

        .new-note-items .template {
          display: none;
        }

        .new-note-btn {
          margin-bottom: 20px;
        }

        .btn-modal {
          margin: 30px 0;
        }
      </style>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li><a href="{{ path('homepage') }}">Расчеты щебня</a></li>
        <li><a href="{{ path('notes') }}">Заметки</a></li>
      </ul>
      {% block body '' %}
    </div>

    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
      <script src="/js/bootstrap-datetimepicker.js"></script>
    {% endblock %}
  </body>
</html>
