{% extends 'base.html.twig' %}

{% block body %}
  <br/>
  <form action="">
    <div class="form-group">
      <label for="stone-fraction">Фракция щебня:</label>
      <select class="form-control" name="stone-fraction" id="stone-fraction">
        <option value="">\\\выберите///</option>
        <optgroup label="Одиночная поверхностная обработка">
          <option value="1-1">2,5-5</option>
          <option value="1-2">5-10</option>
          <option value="1-3">10-15</option>
          <option value="1-4">15-20</option>
        </optgroup>
        <optgroup label="Двойная поверхностная обработка">
          <option value="2-1">10-15( первая россыпь) + 5-10(вторая россыпь)</option>
          <option value="2-2">св15-20(первая россыпь) + 7,5-12,5(вторая россыпь)</option>
        </optgroup>
      </select>
    </div>

    <div class="form-group">
      <label for="correcting">Корректировки для вяжущих материалов:</label>
      <select class="form-control" name="correcting" id="correcting">
        <option value="">--не учитывать--</option>

        <optgroup label="+10%">
          <option value="1">Приведенная интенсивность движения автомобилей менее 20 авт./ч</option>
          <option value="2">Полностью затененные участки</option>
          <option value="3">Остановочные полосы</option>
          <option value="4">Пористая структура покрытия</option>
        </optgroup>

        <optgroup label="+20%">
          <option value="5">Приведенная интенсивность движения автомобилей более 200 авт./ч</option>
          <option value="6">Частично затененные участки</option>
          <option value="7">На внутренних полосах многополосных дорог</option>
          <option value="8">Покрытия с выпотеванием вяжущего более 75% площади</option>
        </optgroup>

        <optgroup label="-10%">
          <option value="9">Использование эмульсий ЭБКД-Б-70, ЭБмКД-Б-70, ЭБлКД-Б-70</option>
        </optgroup>
      </select>
    </div>

    <div class="form-group">
      <label for="kilometrage">Километраж, км:</label>
      <input class="form-control" type="text" name="kilometrage" id="kilometrage"/>
      <div class="form-group">
      </div>
      <label for="width">Ширина, м:</label>
      <input class="form-control" type="text" name="width" id="width"/>
    </div>

    <input type="submit" class="btn btn-warning btn-block" value="Расчитать"/>
  </form>

  <div id="rates-table">
    <h4>Норма расхода:</h4>
    <table class="table">
      <tbody>
      <tr>
        <td>
          <div>
            Расход щебня, кг/м<sup>2</sup>
          </div>
        </td>
        <td class="largeGravel"></td>
      </tr>
      <tr>
        <td>
          <div>
            Расход <abbr title="ЭБКД-Б-65, ЭБмКД-Б-65, ЭБлКД-Б-65">битумных эмульсий</abbr>, л/м<sup>2</sup>
          </div>
        </td>
        <td class="tackCoat"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="cost-table">
    <h4>Итого понадобится:</h4>
    <table class="table">
      <tbody>
      <tr>
        <td>
          <div>
            Расход щебня, кг
          </div>
        </td>
        <td class="largeGravel"></td>
      </tr>
      <tr>
        <td>
          <div>
            Расход <abbr title="ЭБКД-Б-65, ЭБмКД-Б-65, ЭБлКД-Б-65">битумных эмульсий</abbr>, л
          </div>
        </td>
        <td class="tackCoat"></td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $(function () {

      function showError(msg) {
        var div = $('<div>').addClass('alert alert-danger');
        div.text(msg);
        $('.container').prepend(div);
        setTimeout(function () {
          div.remove();
        }, 3000);
      }

      function calculateUsage(formData) {
        var USAGE_RATE = {
              'largeGravel': {
                '1-1': 8.0,
                '1-2': 11.5,
                '1-3': 16.0,
                '1-4': 20.0,
                '2-1': [
                  14.0, 11.0
                ],
                '2-2': [
                  16.5, 12.5
                ]
              },
              'tackCoat': {
                '1-1': 1.10,
                '1-2': 1.40,
                '1-3': 1.6,
                '1-4': 0,
                '2-1': [
                  1.0, 1.4
                ],
                '2-2': [
                  0, 0
                ]
              },
              'correcting': {
                '1': {
                  'change': 'pos',
                  'number': 10
                },
                '2': {
                  'change': 'pos',
                  'number': 10
                },
                '3': {
                  'change': 'pos',
                  'number': 10
                },
                '4': {
                  'change': 'pos',
                  'number': 10
                },
                '5': {
                  'change': 'pos',
                  'number': 20
                },
                '6': {
                  'change': 'pos',
                  'number': 20
                },
                '7': {
                  'change': 'pos',
                  'number': 20
                },
                '8': {
                  'change': 'pos',
                  'number': 20
                },
                '9': {
                  'change': 'neg',
                  'number': 10
                }
              }
            },
            square, inputData, transformationError, result;

        function transformFormDataToInput(formData) {
          var inputData = {};

          _.each(formData, function (input) {
            switch (input.name) {
              case 'stone-fraction':
              case 'correcting':
                inputData[input.name] = input.value;
                break;
              case 'kilometrage':
              case 'width':
                inputData[input.name] = parseFloat(input.value);
                break;
            }
          });

          return inputData;
        }

        function validateInputData(inputData) {
          var error = undefined;
          _.each(inputData, function (value, key) {
            // чтобы видеть первую ошибку, а не последнюю
            if (error) return;

            switch (key) {
              case 'stone-fraction':
                if (value.length === 0) {
                  error = 'Необходимо выбрать фракцию';
                }
                break;
              case 'kilometrage':
              case 'width':
                if (_.isNaN(value)) {
                  error = 'Укажите километраж и ширину дороги (через . )';
                }
                break;
            }
          });

          return error;
        }

        // расчет количества щебня
        function calculateLargeGravel(fraction, square) {
          var value = 0;

          if (_.isArray(fraction)) {
            _.each(fraction, function (f) {
              value += f * square;
            });
          } else {
            value = fraction * square;
          }

          return value;
        }

        // расчет количества эмульсий
        function calculateTackCoat(fraction, square, correcting) {
          var value = 0;

          if (_.isArray(fraction)) {
            _.each(fraction, function (f) {
              value += f * square;
            });
          } else {
            value = fraction * square;
          }

          switch (correcting.change) {
            case 'neg':
              value -= value * correcting.number / 100;
              break;
            case 'pos':
              value += value * correcting.number / 100;
              break;
          }

          return value;
        }

        inputData = transformFormDataToInput(formData);
        transformationError = validateInputData(inputData);

        if (!_.isUndefined(transformationError)) {
          showError(transformationError);
          return undefined;
        }

        square = inputData.kilometrage * 1000 * inputData.width;

        return {
          rates: {
            largeGravel: USAGE_RATE.largeGravel[inputData['stone-fraction']],
            tackCoat: USAGE_RATE.tackCoat[inputData['stone-fraction']]
          },
          cost: {
            largeGravel: calculateLargeGravel(USAGE_RATE.largeGravel[inputData['stone-fraction']], square),
            tackCoat: calculateTackCoat(
                USAGE_RATE.tackCoat[inputData['stone-fraction']],
                square,
                inputData.correcting ? USAGE_RATE.correcting[inputData.correcting] : {}
            )
          }
        }
      }

      function displayCalculations(outputData) {
        var $costTable = $('#cost-table'),
            $rateTable = $('#rates-table');

        $costTable
            .find('.largeGravel').text(outputData.cost.largeGravel).end()
            .find('.tackCoat').text(outputData.cost.tackCoat);

        $rateTable
            .find('.largeGravel').text(
            _.isArray(outputData.rates.largeGravel)
                ? outputData.rates.largeGravel.join(' + ')
                : outputData.rates.largeGravel
        ).end()
            .find('.tackCoat').text(
            _.isArray(outputData.rates.tackCoat)
                ? outputData.rates.tackCoat.join(' + ')
                : outputData.rates.tackCoat
        );
      }

      $('form').on('submit', function (e) {
        e.preventDefault();

        var output = calculateUsage($(this).serializeArray());

        if (output) {
          displayCalculations(output);
        }
      })
    });
  </script>
{% endblock %}
