{% extends 'base.html.twig' %}


{% block body %}
  {% form_theme form 'bootstrap_3_layout.html.twig' 'form/note.html.twig' %}

  <div class="row">
    <div class="col-xs-12">

      {% for type, messages in app.session.flashbag.all() %}
        {% for flashMessage in messages %}
          <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
          </div>
        {% endfor %}
      {% endfor %}

      <h4>Заметки</h4>

      <button type="button" class="btn btn-modal btn-success btn-lg btn-block" data-toggle="modal" data-target="#new-note">Добавить</button>

      <div class="modal fade" id="new-note" tabindex="-1">
        <div class="modal-dialog">
          <form action="" method="post" {{ form_enctype(form) }}>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Новая заметка</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  {{ form_widget(form) }}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="edit-note" tabindex="-1">
        <div class="modal-dialog">
          <form action="" method="post">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Редактирование</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tr>
          <th>Что</th>
          <th>Всего</th>
          <th></th>
        </tr>
        {% for note in notes %}
          <tr>
            <td>
              <a class="toggler" data-toggle="modal" data-url="{{ path('edit_form_note', {id: note.id}) }}" href="#edit-note">{{ note.title }}</a>
            </td>
            <td>
              {{- note.total -}}
            </td>
            <td>
              <a href="{{ path('remove_note', {id: note.id}) }}"
                 class="btn btn-xs btn-danger">удалить</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">Заметок нет</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock body %}


{% block javascripts %}
  {{ parent() }}
  <script>
    $(function () {
      var index = 0;

      $(document).on('click', '.new-note-btn-remove-item', function () {
        var $item = $(this).parents('.item');

        $item.find('.date').data('DateTimePicker').destroy();

        $(this).parents('.item').remove();
      });

      $(document).on('click', '.new-note-btn-create', function () {
        var $newNoteItems = $('.new-note-items'),
            $template = $newNoteItems.find('.template'),
            item = $template.html().replace(/__index__/g, index);

        $newNoteItems.append(item);

        var $date = $newNoteItems.children().last().find('.date');

        $date.datetimepicker({
          format: 'DD/MM/YYYY',
          locale: 'ru'
        });

        index += 1;
      });

      $(document).on('submit', 'form', function (e) {
        $(this).find('.template').remove();
        $(this).get(0).submit();
      });

      $('#new-note').on('show.bs.modal', function (event) {
        index = 0;
      });

      $('#edit-note').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget),
            url = button.data('url'),
            modal = $(this);

        modal.find('.modal-body .container-fluid').load(url, function () {
          var items = $(this).find('.new-note-items').children('.item');

          items.find('.date').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'ru'
          });

          index = items.length;

          $(this).parents('form').attr('action', url.replace('edit-form', 'edit'));

        });
      })

    });
  </script>
{% endblock javascripts %}